.carrossel__cabeçalho {
    font-family: var(--fonte-titulo);
    margin: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrossel__titulo {
    padding:  0;
    color: var(--preto);
    font-weight: 700;
    font-size: 18px;
}

.carrossel__link {
    text-decoration: none;
    border: 1px solid var(--cinza);
    border-radius: 25px;
    padding: 1em 1.2em;
    color: var(--cinza);
    font-size: 0.9em;
}

.swiper {
    margin: 0 1em;
}

.swiper-slide {
    width: 120px;
}

.swiper-slide img {
    height: 120px;
    width: 120px;
    border-radius: 100px;
    object-fit: cover;
}

.swiper-slide__titulo {
    margin: 0.5em 0.3em;
    padding: 0.2em;
    font-family: var(--fonte-titulo), sans-serif;
    font-size: 0.9em;
    color: var(--preto);
    text-align:center;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}
