.banner__contato {
    text-align: center;
    font-family: var(--fonte-texto), sans-serif;
    display: flex;
    flex-direction: column;
    margin: 1em 1.5em;
    padding: 1.5em 2.2em;
    border-radius: 25px;
}

.contato__titulo {
    font-family: var(--fonte-titulo);
    color: var(--preto);
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 0.6em;
}

.contato__email {
    text-align: center;
    font-size: 0.9em;
    color: var(--laranja);
    padding: 1em;
    background-color: var(--branco);
    border: none;
    border-radius: 25px;
    width: 90%;
    margin: 1em 0 1em 0.3em;
}

.contato__email::placeholder {
    opacity: 1;
    color: var(--laranja);
    font-size: 1.2em;
    font-weight: 400;
    text-indent: 50%;
    text-align: center;
    background: url("../img/mail.svg") no-repeat;
    background-position: 2em;
    background-size: 1.2em;
}