.destaques {
    padding: 1em 0.5em 2em 0.5em;
    background-color: var(--amarelo-claro);
}

.destaques__cabeçalho {
    font-family: var(--fonte-titulo);
    margin: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TODO Subir pro Github, colocar iamgem como backrooun de <a> */
.destaques__titulo {
    font-family: var(--fonte-titulo), sans-serif;
    padding: 0;
    color: var(--preto);
    font-weight: 700;
    font-size: 18px;
}

.destaques__link {
    text-decoration: none;
    border: 1px solid var(--cinza);
    border-radius: 25px;
    padding: 1em 1.3em;
    color: var(--cinza);
    font-size: 0.9em;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1em;
    gap: 1em 1.3em;
}

.card-produto__imagem {
    display: flex;
    max-width: 110px;
    max-height: 170px;
    position: absolute;
    filter: var(--sombreado);
    z-index: 2;
    bottom: 7.3em;
}
.card-produto {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    height: 260px;
    min-width: 140px;
    background-color: var(--salmao);
    border-radius: 25px;
    padding: 1.3em 1em 1em 1em;
    overflow: hidden;
}

.card-produto__texto {
    z-index: 1;
    box-sizing: border-box;
    font-family: var(--fonte-titulo), sans-serif;
    border-radius: 25px;
    position: absolute;
    height: 8em;
    width: 100%;
    bottom: 0;
    background-color: var(--branco);
    padding: 1.5em 1.3em;
}

.card-produto__titulo {
    color: var(--preto);
    font-size: 14px;
    font-weight: 600;
}

.card-produto__subtitulo {
    font-weight: 400;
    font-size: 0.8em;
    margin-top: 0.3em;
    color: var(--cinza);
}

.card-produto__valor {
    font-weight: 700;
    font-size: 1.4em;
    color: var(--salmao);
}

.card-produto__botao {
    box-sizing: border-box;
    padding: 0.9em;
    margin: 1em;
    background-color: var(--salmao);
    border-radius: 50px;
    position: absolute;
    right: 0;   
}

.container {
    margin-top: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
