@import url("styles/header.css");
@import url("styles/carrossel.css");
@import url("styles/banner.css");
@import url("styles/destaques.css");
@import url("styles/contato.css");

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --fonte-titulo: 'Poppins';
    --fonte-texto:'Rubik';

    --amarelo-claro: #fcead4;
    --azul-claro: #bae4fc;
    --branco: #FFFFFF;
    --cinza: #a3a3a3;
    --preto: #0a0706;
    --laranja: #fe7647;
    --laranja-claro: #ffb17d;
    --rosa-claro: #ffcdcc;
    --salmao: #fa5d5d;

    --verde-ciano: #77c4b2;
    --verde-claro: #aed1be;
    --cor-icones: #FFFFFF;
    --sombreado: drop-shadow(5px 2px 5px #3d030357);
}

.laranja    { background-color: var(--laranja-claro); }
.verde      { background-color: var(--verde-claro); }
.rosa       { background-color: var(--rosa-claro); }
.amarelo    { background-color: var(--amarelo-claro); }
.azul       { background-color: var(--azul-claro); }
